body {
  background-color: #172133;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  max-width: 1920px;
}
/*HELPER CLASS*/
.vertical-align{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.secondary-toplink{
  display: none;
}
.love-icon-2x{
    display: none;
  }
.background-center {
  /* scale bg image proportionately */
  background-size: cover;
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;
  background-repeat: no-repeat;
}
/********************************************Navigation********************************************/
nav {
  background-color: #101724;
  color: white;
}

.navbar-nav {
  font-weight: light;
}

.navbar-nav span {
  font-weight: bold;
}

/********************************************Header********************************************/
header {
  background-image: url(../images/header/hero-background.png);
  margin-top: 86px;
}

header div {
  padding: 0;
  margin: 0;
}


.header-container {
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.header-cta {
  left: 0;
  right: 0;
}

.header-cta > div {
  height: 100%;
}

.header-cta .header-cta-text {
  color: white;
  position: absolute;
  height: 92%;
  top: 4%;
}

.header-cta-image {
  background-image: url(../images/header/hero-image.png);
  border-radius: 100%;
  border: 8px solid white;
  position: absolute;
  -webkit-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.15);
}

/*For specificity purposes*/
.header-cta-text h1 {
  font-size: 3.2em;
  font-weight: bold;
  margin-top: 0px;
  padding: 0;
  margin-bottom: 25px;
}

.header-cta-text span {
  font-weight: bold;
}

.header-cta-text a:hover {
  color: #CD5741;
}

.header-cta-text a {
  background-color: #1E2731;
  text-align: center;
  max-width: 128px;
  border-radius: 5%;
  color: white;
  font-size: 1em;
  padding: 10px 25px;
  text-decoration: none;
}

/*For specificity purposes*/
.landing-page p {
  font-size: 1em;
  line-height: 1.5em;
  max-height: 150px;
  padding: 0;
  margin-bottom: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/******************************************** Main container ********************************************/
.main-container {
  display: inline-block;
  background-color: white;
}

.main-container h2 {
  text-align: center;
  padding: 20px 0px;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 70px;
}

.main-container h2 span {
  border-bottom: 3px solid #CD5741;
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.row {
  margin-top: 70px;
}
.features{
  margin-bottom: 170px;
}
.feature-container {
  padding: 10px 25px;
  /*background-color: blue;*/
}

.feature-inside {
  text-align: center;
}

.feature-inside h3 {
  font-size: 1.7em;
  font-weight: bold;
}

.feature-inside q {
  font-style: italic;
  color:#CD5741;
}

.feature-inside p {
  font-weight: bold;
}

.feature-divider {
  background-color: #CD5741;
  height: 3px;
  width: 40px;
  margin: 17px auto;
}

.feature-image {
  margin: 0 auto;
  height: 90px;
  width: 90px;
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.feature-image-one {
  background-image: url(../images/features/feature-one-icon.png);
  background-size: 90px 90px;
}

.feature-image-two {
  background-image: url(../images/features/feature-two-icon.png);
  background-size: 90px 90px;
}

.feature-image-three {
  background-image: url(../images/features/feature-three-icon.png);
  background-size: 68.625px 90px;
}

/**************************************** CSS for high-resolution devices ****************************************/
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  header {
    background-image: url(../images/header/hero-background@2x.png);
  }
  .header-cta-image {
    background-image: url(../images/header/hero-image@2x.png);
  }
  .feature-image {
    background-size: contain;
  }
  .feature-image-one {
    background-image: url(../images/features/feature-one-icon@2x.png);
  }
  .feature-image-two {
    background-image: url(../images/features/feature-two-icon@2x.png);
  }
  .feature-image-three {
    background-image: url(../images/features/feature-three-icon@2x.png);
  }
  .footer-logo{
    background-image: url(../images/footer/ars-logo@2x.png);
    height: 42px;
  }
  /*Made more sense to use img inside p*/
  .love-icon{
    display: none;
  }
  .love-icon-2x{
    display: inline-block;
  }
}

/*FROM HERE*/
footer {
  height: 450px;
  background-color: #101724;
  color: white;
}

.footer-upper {
  /*Must not override bootstrap margins*/
  margin-top: 55px;
  margin-bottom: 55px;
}

.footer-upper a {
  width: initial;
  float: right;
  padding: 10px 0 ;
  font-size: 1.3em;
  color: white;
  text-decoration: none;
/*  margin-top: calc((150px - 26px) / 2);*/
}

.footer-upper a:hover {
  color: white;
  text-decoration: none;
}
.footer-social{

}
.footer-social > div:not(:last-of-type){
  margin-right: 25px;
}
.footer-social > div{
  width: 44px;
  height: 44px;
  display: inline-block;
}

.footer-about{
  text-align: center;
  font-size: 1.7em;
  margin: 60px 0px 40px 0;
}
.footer-about span{
  font-weight: bold;
}
.footer-logo{
  text-align: center;
  background-size: initial;
  height: 21px;
  background-image: url(../images/footer/ars-logo.png);
  margin-left: 50%;
  transform: translateX(-50%);

}
/*FOOTER SOCIAL*/
.facebook{
  background-image: url(../images/footer/social-facebook.png);
}
.twitter{
  background-image: url(../images/footer/social-twitter.png);
}
.instagram{
  background-image: url(../images/footer/social-instagram.png);
}
.google-plus{
  background-image: url(../images/footer/social-google-plus.png);
}
.youtube{
  background-image: url(../images/footer/social-youtube.png);
}

/******************************************** Media queries ********************************************/
@media screen and (max-width: 479px) {
  header {
    height: 320px;
  }
  /*Specificity purposes*/
  .landing-page footer{
    height: 380px;
  }
  .footer-logo{
  margin-left: 0;
  transform: translateX(0%);

}
  .header-container {
    width: 100%;
  }
  .header-cta {
    height: calc(320px*0.5);
  }
  .header-cta-image {
    width: calc(320px*0.5);
  }
  .header-cta-text h1 {
    margin-bottom: 5px;
  }
  .header-cta-text p {
    max-height: 70px;
    margin-bottom: 15px;
  }
    .footer-upper{
    margin-top: 10px;
  }
  /*Specificity purposes*/
   .footer-upper .secondary-toplink{
    text-align: right;
    width: 100%;
    margin-bottom:20px;
  }
  .footer-social{
    width: 100%;
    text-align:center;
  }
}
@media screen and (min-width: 480px) {
  header {
    height: 370px;
  }
  .header-container {
    width: 80%;
  }
  .header-cta {
    height: calc(370px*0.5);
  }
  .header-cta-image {
    width: calc(370px*0.5);
  }
  .header-cta-text {
    /*left: calc(370px*0.5);*/
  }
}

@media only screen and (max-width: 620px) {
  .feature-container {
    width: 100%;
  }

  .feature-inside {
    width: 280px;
    margin-left: calc((100% - 280px) / 2);
  }
  /*Must not override bootstrap margins*/
  .footer-upper{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer-social > div:not(:last-of-type){
    margin-right: 2%;
  }
  .footer-social, .footer-upper{
    padding: 0;
  }
  .secondary-toplink{
    display: inline-block;
  }
 .toplink{
  display: none;
 }

}

@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .header-cta-text p {
    max-height: 70px;
  }
  .feature-container {
    padding: 0;
}
  footer {
  height: 320px;
}
.main-container h2 {
  margin-bottom: 40px;
}
.row {
  margin-top: 40px;
}
.features{
  margin-bottom: 70px;
}
.footer-upper {
  /*Must not override bootstrap margins*/
  margin-top: 35px;
  margin-bottom: 35px;
}
.footer-about{
  margin: 30px 0px 20px 0;
}
}

@media only screen and (min-width: 768px) {
  header {
    height: 570px;
  }
  .navbar-nav {
    float: right;
  }
  .navbar-nav a:hover, footer a:hover {
    border-bottom: 2px solid #CD5741;
  }
  .header-container {
    width: 700px;
  }
  .header-cta {
    height: calc(570px*0.5);
  }
  .header-cta-image {
    width: calc(570px*0.5);
  }
  .header-cta-text {
    margin-left: 8%;
    left: calc(570px*0.5);
  }
  .footer-upper{
    margin-left: 5%;
  }
}

@media only screen and (max-width: 992px) {
  .feature-container {
    padding: 10px 15px;
  }
  .feature-container div {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .header-container {
    width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-container {
    width: 1050px;
  }
}

@media only screen and (min-width: 1601px) {
  body {
    margin-left: calc((100% - 1920px) / 2);
  }
  header {
    height: 720px;
  }
  .header-container {
    width: 1200px;
  }
  .header-cta {
    height: calc(720px*0.5);
  }
  .header-cta-image {
    width: calc(720px*0.5);
  }
  .header-cta-text {
    left: calc(720px*0.5);
  }
}

